/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
.container{
    width: 60%;
}
/* global variable */
:root{
    --primary-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    --btn-bg: #E02C6D ;
    --primary-bg: #0E7C7B;
}
a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}
.d-flex{
    display: flex;
}
/* banner style */
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-bg);
    padding: 60px 0 ;
    margin-bottom: 30px;
}
.banner-title h1{
    text-transform: uppercase;
    font-size: 3rem;
    color: white;
    line-height: 1.2em;
}
.banner-title span{
    color: tomato;
}
.banner-title .banner-title-button{
    margin: 20px 0;
    background-color: var(--btn-bg);
    border-radius: 10px;
    line-height: 40px;
    height: 40px;
    width: 120px;
    
}
.banner-title .button-inner{
    align-items: center;
    justify-content: space-around;
}
.button-inner i{
    margin-top: 5px;
}
.banner .banner-img{
    width: 500px;
    height: 400px;
}
.banner .banner-img img{
    width: 100%;
}


/* player lists */
.player-list{
    display: flex;
    justify-content: center;
}
.player-list .players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-content: inherit;
    margin: 30px 0;
   
}
.players .player{
    padding: 25px 15px;
    width: 330px;
     margin: 15px 5px;
    box-shadow: var(--primary-shadow);

}
.player h3{
    margin: 10px 0;
}
.player p{
    line-height: 23px;
    padding-bottom: 20px;
    color: grey;
}
.player img{
    
}
/* news section */
.news{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 0;
}
.news .single-news{
    padding: 10px;
    box-shadow: var(--primary-shadow);
    margin: 10px;
    border-radius: 15px;
}
.news h4,h3,p{
    margin-left: 10px;
}
.news h3{
    color: var(--primary-bg);
}
.news h4{
    color: var(--btn-bg);
}
.news p{
    
    margin-top: 5px;
    color: grey;
}
.news img{
    margin: 15px 0;
    border-radius: 15px;
}
/* brand area */
.brands{
    margin-top: 60px;
}
.brands h2{
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    color: var(--btn-bg);
    margin: 40px 0;
    text-transform: uppercase;
}
.brand{
    margin: 40px ;
    display: flex;
    justify-content: center;
     flex-wrap: wrap;
}
.brand img{
    width: 250px;
    margin: 10px 10px;
}
/* footer */

.footer{
    /* margin-top: 40px; */
    padding: 60px 0  40px;
   display: flex;
   justify-content: center;
   background-color: var(--primary-bg);
}
.footer .social-icons{
    text-align: center;
    margin: 30px 0 15px ;
    
}
.footer .social-icons a{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0px 7px;
    line-height: 30px;
    border-radius: 50%;
    background-color:rgb(211, 210, 210);
    color: black;

}
.footer p{
    text-align: center;
    color:white;
    font-weight: 600;
}


/* media query */

/* for tablet */
@media screen and  (max-width: 992px){

    .player-list .players{
        grid-template-columns: repeat(2,1fr);
        place-content: inherit;
    }
    .banner{
        padding: 60px 20px;
    }
    .banner-title h1{
        font-size: 2rem;
    }
.banner .banner-img{
    width: 400px;
    height: 300px;
}
}

/* for mobile devices  */
@media screen and  (max-width: 600px){

    .player-list .players{
        grid-template-columns: repeat(1,1fr);
        place-content: inherit;
    }

    .banner{
        display: block;
        padding: 60px 20px;
    }
    /* .banner-title h1{
        font-size: 2rem;
    } */
.banner .banner-img{
    margin: 30px auto;
    width: 300px;
    height: 200px;
}
}